.body-members {
   max-width: 1200px;
   margin: 0 auto;
}

.members-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
   margin: 50px 0px;
}

.members-item {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   gap: 50px;
   align-items: center;
}

.members-img {
   width: 230px;
   height: 275px;
   background-color: #ffffff;
   border-radius: 5px;
   box-shadow: 0px 3px 4px 1px rgb(0 0 0 / 15%);
}

.members-img img {
   width: 230px;
   height: 275px;
   object-fit: cover;
   border-radius: 5px;
}

.members-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   width: 650px;
}

.members-name {
   font-family: utm;
   color: var(--color-title);
   font-size: 22px;
   text-transform: uppercase;
   font-weight: 400;
}

.members-position {
   font-family: Roboto-Bold;
   font-size: 20px;
   color: var(--color-menu);
}

.members-des {
   font-family: Roboto;
   font-size: 18px;
   color: var(--color-text-3);
}

.info-list {
   list-style: none;
   padding-left: 3px;
   padding-bottom: 5px;
}

.info-item {
   font-family: Roboto;
   font-size: 18px;
   color: var(--color-text-3);
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
}

.line-info {
   width: 22px;
   height: 8px;
   background-color: var(--color-title);
}

.item-research {
   max-width: 600px;
}

.info-research {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   gap: 10px;
}

.re-btn {
   font-family: Roboto;
   font-size: 18px;
   color: #ffffff;
   background-color: var(--primary);
   padding: 7px 10px;
   border-radius: 5px;
   box-shadow: 0px 3px 4px 1px rgb(0 0 0 / 15%);
   cursor: pointer;

   &:hover {
      background-color: var(--color-title);
   }
}

@media (max-width: 992px) {
   .members-item {
      gap: 20px;
   }
}
@media (max-width: 650px) {
   .members-info {
      width: 280px;
   }
   .item-research {
      max-width: 200px;
   }
}
