@import 'normalize.scss';

@font-face {
   font-family: Roboto;
   src: url('../../assets/fonts/Roboto-Regular.ttf');
}
@font-face {
   font-family: Roboto-Bold;
   src: url('../../assets/fonts/Roboto-Bold.ttf');
}
@font-face {
   font-family: utm;
   src: url('../../assets/fonts/UTM HelvetIns.ttf');
}

:root {
   --primary: #c11b1b;
   --color-title: #629861;
   --color-text: #000000;
   --color-menu: #e44444;
   --color-bg: #f1f1f1;
   --color-text-2: #696969;
   --color-text-3: #343434;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: Roboto;
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizeSpeed;
}

.page-head {
   background-color: var(--primary);
   padding: 25px 0px;
}

.page-tl {
   font-family: utm;
   font-weight: 400;
   font-size: 50px;
   color: #ffffff;
   padding: 10px 50px;
}

.page-des {
   font-family: Roboto;
   color: #ffffff;
   font-size: 18px;
   padding: 5px 50px 10px;
}

@media (min-width: 992px) {
   .page-tl {
      padding: 10px 160px;
   }
   .page-des {
      padding: 5px 160px 10px;
   }
}
