.background-home {
   background-color: #ffffff;
   margin-top: 5px;
   display: flex;
   justify-content: center;
}

.tl-home {
   color: var(--color-menu);
   font-family: utm;
   font-size: 50px;
   text-transform: uppercase;
   padding: 60px 0;
   font-weight: 400;
}

.about-body {
   display: flex;
   justify-content: center;
   gap: 30px;
   flex-wrap: wrap;
   margin: 20px 0;
   align-items: center;
}

.about-img {
   width: 650px;
   height: 450px;
   border-radius: 5px;
   background-color: #ffffff;
   // box-shadow: 0px 1px 4px 2px rgb(0 0 0 / 12%);
}

.item-img2 {
   width: 650px;
   height: 450px;
   object-fit: contain;
   cursor: pointer;
}

.about-info {
   width: 650px;
}

.about-tl {
   font-family: utm;
   font-weight: 400;
   font-size: 34px;
   color: var(--color-title);
   text-transform: uppercase;
   padding: 10px 20px;
}

.about-content {
   font-family: Roboto;
   font-size: 20px;
   color: var(--color-text);
   padding: 10px 20px;
   text-align: justify;
}

.news-body {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
}

.news-body {
   padding: 30px 0px;
}

.news-body-left {
   width: 650px;
}

.news-body-right {
   width: 550px;
}

.news-list {
   list-style-type: square;
   padding: 10px 50px;
}

.news-item {
   font-family: Roboto-Bold;
   font-size: 18px;
   color: var(--color-title);
   cursor: pointer;
   padding: 5px;

   &:hover {
      color: var(--color-menu);
   }
}

.news-high {
   cursor: pointer;

   &:hover .news-tl {
      color: var(--color-menu);
   }
   &:hover .news-content {
      color: var(--color-text);
   }
   &:hover .news-img {
      transform: scale(1.1);
   }
}

.img-body {
   border-radius: 5px;
   box-shadow: 0px 1px 4px 2px rgb(0 0 0 / 12%);
   background-color: #f1f1f1;
   margin: 10px;
   width: 550px;
   height: 350px;
   overflow: hidden;
}

.news-img {
   width: 550px;
   height: 350px;
   object-fit: cover;
   transition: transform 0.4s;
}

.news-tl {
   font-family: Roboto-Bold;
   font-size: 18px;
   color: var(--color-title);
   cursor: pointer;
   padding: 5px;
   width: 550px;
   padding: 10px 0px 0px 10px;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.news-content {
   font-family: Roboto;
   font-size: 18px;
   color: var(--color-text-2);
   text-align: justify;
   width: 550px;
   padding: 10px 0px 0px 10px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.members-body {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 30px;
}

.members-intro {
   width: 300px;
   margin-left: 50px;
}

.members-content {
   font-family: Roboto;
   font-size: 18px;
   color: var(--color-text);
   text-align: justify;
   padding: 10px 20px;
   display: -webkit-box;
   -webkit-line-clamp: 9;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.members-slide {
   max-width: 1000px;
}

.members-bg {
   background-color: var(--primary);
   width: 100%;
   height: 230px;
   border-radius: 5px;
   box-shadow: 0px 1px 4px 2px rgb(0 0 0 / 12%);
}

.members-slide-list {
   margin-top: -190px;
   margin-left: 25px;
   width: 97%;
   position: relative;
   z-index: 1;
   left: 50%;
   transform: translate(-50%, 0px);
}

.members-item {
   cursor: pointer;

   &:hover .members-name {
      color: var(--color-menu);
   }
   &:hover .members-address {
      color: var(--color-text);
   }
}

.members-box {
   background-color: #ffffff;
   border-radius: 5px;
   box-shadow: 0px 1px 4px 2px rgb(0 0 0 / 12%);
   width: 280px;
   height: 390px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   margin: 10px;
}

.members-img {
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 150px;
   margin: 30px 20px;
}

.members-name {
   font-family: Roboto-Bold;
   font-size: 18px;
   color: var(--color-title);
   padding: 0px 20px;
}

.members-address {
   font-family: Roboto;
   font-size: 18px;
   color: var(--color-text-2);
   text-align: center;
   padding: 0px 20px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.publications-body {
   margin: 30px 50px;
}

.pub-list {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;
}

.pub-item {
   cursor: pointer;

   &:hover .pub-tl {
      color: var(--color-title);
   }
}

.pub-date {
   font-family: Roboto-Bold;
   font-size: 20px;
   text-transform: uppercase;
   color: var(--color-menu);
   padding: 5px 20px;
}

.pub-tl {
   font-family: Roboto-Bold;
   font-size: 20px;
   text-transform: uppercase;
   color: var(--color-menu);
   padding: 5px 20px;
   text-align: justify;
}

.pub-content {
   font-family: Roboto;
   font-size: 18px;
   color: var(--color-text);
   padding: 5px 20px;
   text-align: justify;
}

@media (min-width: 1500px) {
   .members-intro {
      width: 28%;
   }
}

@media (max-width: 1380px) {
   .members-body {
      justify-content: center;
   }
   .members-intro {
      width: 95vw;
      margin: 0px 50px;
   }
}

@media (max-width: 992px) {
   .members-slide {
      max-width: 95vw;
   }
}

@media (max-width: 650px) {
   .about-img {
      width: 350px;
      height: 250px;
   }
   .item-img2 {
      width: 350px;
      height: 250px;
   }
   .news-body-right {
      width: 350px;
   }
   .img-body {
      width: 350px;
      height: 250px;
      margin: 0;
   }
   .news-img {
      width: 350px;
      height: 250px;
      margin: 0;
      margin-bottom: 10px;
   }
   .news-tl,
   .news-content {
      width: 350px;
      padding: 10px 0px 0px 0px;
   }

   .members-intro {
      margin: 0px 0px;
   }
   .publications-body {
      margin: 30px 0px;
   }
}
